<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <ul id="messages"> </ul>
    <form id="form">
        <input id="input"/> <button type="submit"> Send </button>
    </form>
    <!-- <script src='http://localhost:3000/socket.io/socket.io.js'></script>  -->
    <script src="/socket.io/socket.io.js"> </script>
    <script>
        // var socket = io();
        var socket = io('http://localhost:3000'); 
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        
        form.addEventListener('submit', e => {
            e.preventDefault();
            if (input.value) {
            socket.emit('chat message', input.value);
            input.value = '';
        }
      });

      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.innerText = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
</body>
</html>